<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="custom.css">
    <title>Churn Prediction App</title>
</head>
<body>
    <h1>Churn Prediction App</h1>
    <div class="container">
        <form action="/" method="post">
            <label for="age">Age:</label>
            <input type="number" value="{{ form_data.age if form_data.age is not none }}" required name="age" required><br><br>
            <label for="income">Income:</label>
            <input type="number" step="0.01" value="{{ form_data.income if form_data.income is not none }}" required name="income" required><br><br>
            <label for="usage">Usage:</label>
            <input type="number" value="{{ form_data.usage if form_data.usage is not none }}" required name="usage" required><br><br>
            <label for="satisfaction">Satisfaction:</label>
            <input type="number" value="{{ form_data.satisfaction if form_data.satisfaction is not none }}" required name="satisfaction" required><br><br>
            <label for="postcode">Postcode:</label>
            <input type="number" value="{{ form_data.postcode if form_data.postcode is not none }}" required name="postcode" required><br><br>
            <input type="submit" value="Predict Churn Probability">
        </form>
    </div>
    {% if churn_probability %}
    <h2>Churn Probability: {{ churn_probability }}</h2>
    {% endif %}
</body>
</html>
